.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 9px 7px 5px rgb(161 152 152 / 77%);
  padding-top: 10px;
  padding-bottom: 10px;
  height: 6vh;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  max-width: 1500px;


}

.nav-logo {
  color: #6B4798;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  flex-grow: 1;

  display: flex;
  grid-gap: 12px; 
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
}

.nav-links {
  color: #5A6570;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
}
.fa-code {
  margin-left: 1rem;
}

.nav-item {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 110%;
  color: #5A6570;
  transition: all 400ms ease;
  
  margin-top: auto;
  margin-bottom: auto;
}

.nav-item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover:after {
  width: 100%;
  background: #6B4798;
}

.nav-item .active {
  color: #6B4798;
}

.nav-icon {
  display: none;
}

.select_language {
  width: 129px;
  border: 1px solid #f2f2f2;
  border-radius: 5px;

  background-color: rgb(161 152 152 / 77%);
  padding: 10px 15px;
}

.selected-language {
  font-weight: bold;
  font-size: 14px;
  margin-left: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 9px;
}

/* ________________TOGGLE___________________________ */

.toggle, .toggle:before, .slot__label {
  transition-property: background-color, transform, visibility;
  transition-duration: 0.25s;
  transition-timing-function: ease-in, cubic-bezier(0.6,0.2,0.4,1.5), linear;
}
.toggle:before, .slot, .slot__label {
  display: block;
}
.toggle:before{ 
  position: absolute;
}
.toggle:checked {
  background-color: #6b4798;
}
.toggle:focus {
  outline: transparent;
}
.toggle {
  border-radius: 0.75em;
  box-shadow: 0 0 0 0.1em inset;
  cursor: pointer;
  position: relative;
  margin-right: 0.25em;
  width: 3em;
  height: 1.5em;

  appearance: none;

  margin-top: auto;
  margin-bottom: auto;
}
.toggle:before {
  background: currentColor;
  border-radius: 50%;
  content: "";
  top: 0.2em;
  left: 0.2em;
  width: 1.1em;
  height: 1.1em;
}
.toggle:checked:before {
  transform: translateX(1.5em);
}

/* __________________________________________ */



@media screen and (max-width: 960px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid #fff;
    position: absolute;
    top: 60px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #6b4798;
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    padding-left: 0;
  }
  .nav-item .active {
    color: #fff;
    border: none;
    font-size: 24px;
  }
  .nav-links {
    padding: 1.5rem;
    width: 100%;
    display: table;
    text-align: initial;
    font-size: 30px;
  }

  .nav-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #6B4798;
  }
  
  .nav-item a {
    color: #fff;
  }

  .toggle {
    margin-left: auto;
    margin-right: auto;
    width: 6em;
    height: 3em;
    border-radius: 25px;
    background-color: white;
  }

  .toggle:before{
    top: 0.4em;
    left: 0.5em;
    width: 2em;
    height: 2em;
  }

  .toggle:checked:before {
    transform: translateX(3em);
  }

  .selected-language{
    font-size: 24px;
  }
}
